### Project 4: Temperature Data (Pandas + Matplotlib)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Step 1: Create a Pandas DataFrame (7 days Ã— 3 times of day)
data = {
    "Day": ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
    "Morning": [18, 20, 19, 21, 22, 20, 19],
    "Afternoon": [25, 27, 26, 30, 28, 29, 27],
    "Night": [15, 16, 14, 17, 18, 16, 15]
}

df = pd.DataFrame(data)
print("Temperature Data:\n", df)

Temperature Data:
    Day  Morning  Afternoon  Night
0  Mon       18         25     15
1  Tue       20         27     16
2  Wed       19         26     14
3  Thu       21         30     17
4  Fri       22         28     18
5  Sat       20         29     16
6  Sun       19         27     15

In [3]:
# Step 2: Calculate average temperature per day
df["Average"] = df[["Morning", "Afternoon", "Night"]].mean(axis=1)
print("\nData with Average Temperature:\n", df)

Data with Average Temperature:
    Day  Morning  Afternoon  Night    Average
0  Mon       18         25     15  19.333333
1  Tue       20         27     16  21.000000
2  Wed       19         26     14  19.666667
3  Thu       21         30     17  22.666667
4  Fri       22         28     18  22.666667
5  Sat       20         29     16  21.666667
6  Sun       19         27     15  20.333333

In [4]:
# Step 3: Find the hottest and coldest day (based on average temperature)
hottest_day = df.loc[df["Average"].idxmax()]
coldest_day = df.loc[df["Average"].idxmin()]
print("\nHottest Day:\n", hottest_day)
print("\nColdest Day:\n", coldest_day)

Hottest Day:
 Day                Thu
Morning             21
Afternoon           30
Night               17
Average      22.666667
Name: 3, dtype: object

Coldest Day:
 Day                Mon
Morning             18
Afternoon           25
Night               15
Average      19.333333
Name: 0, dtype: object